<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="inputField (label, id, name, type, placeholder)">
  <div class="form-group mb-3">
    <label th:for="${id}" th:text="${label}">Label</label>
    <input th:type="${type}" th:id="${id}" th:name="${name}" class="form-control" th:placeholder="${placeholder}" required autocomplete="off" />
  </div>
</th:block>

<th:block th:fragment="passwordField (label, id, name, placeholder)">
  <div class="form-group mb-3">
    <label th:for="${id}" th:text="${label}">Label</label>
    <div class="input-group">
      <input type="password" th:id="${id}" th:name="${name}" class="form-control" th:placeholder="${placeholder}" required autocomplete="off" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">
          <i class="fa fa-eye" id="toggleIcon"></i>
        </button>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>
