:root {
  --white-color: #ffffff;
  --light-gray-color: #f8f9fa;
  --dark-gray-color: #424242;
  --navbar-bg-color-dark: #2d3748;
  --select-focus-color: #a1c4fd;
}

.navbar {
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
}

body.dark-mode .navbar {
  background-color: var(--navbar-bg-color-dark);
  color: var(--white-color);
}

.navbar .navbar-brand, .navbar .nav-link {
  color: var(--dark-gray-color);
}

body.dark-mode .navbar .navbar-brand, body.dark-mode .navbar .nav-link {
  color: var(--white-color);
}

.navbar-toggler {
  border-color: var(--dark-gray-color);
}

body.dark-mode .navbar-toggler {
  border-color: var(--white-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(33, 37, 41, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

body.dark-mode .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.theme-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.theme-toggle input {
  display: none;
}

.theme-toggle .slider {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  transition: background-color 0.3s;
}

.theme-toggle .slider:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--white-color);
  box-shadow: 0 0 2px #000;
  transition: transform 0.3s;
}

.theme-toggle input:checked + .slider {
  background-color: #333;
}

.theme-toggle input:checked + .slider:before {
  transform: translateX(25px);
}

.theme-toggle .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: opacity 0.3s;
}

.theme-toggle .fa-sun {
  left: 5px;
  color: #f39c12;
  opacity: 1;
}

.theme-toggle .fa-moon {
  right: 5px;
  color: #f1c40f;
  opacity: 0;
}

.theme-toggle input:checked ~ .fa-sun {
  opacity: 0;
}

.theme-toggle input:checked ~ .fa-moon {
  opacity: 1;
}

.custom-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.language-toggle {
  position: relative;
  display: flex;
  align-items: center;
}

.language-toggle select {
  appearance: none;
  border: none;
  font-size: 1rem;
  color: var(--dark-gray-color);
  background: var(--light-gray-color) none;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.375rem 0.75rem 0.375rem 2.5rem;
}

.language-toggle select:focus {
  box-shadow: 0 0 0 2px var(--select-focus-color);
}

.language-toggle select option {
  color: black;
}

.language-toggle .icon {
  position: absolute;
  left: 0.5rem;
  font-size: 1.5rem;
  color: var(--dark-gray-color);
  pointer-events: none;
}

body.dark-mode .language-toggle select {
  color: var(--white-color);
  background-color: var(--dark-gray-color);
}

body.dark-mode .language-toggle select option {
  color: black;
}

body.dark-mode .language-toggle .icon {
  color: var(--white-color);
}
